@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
:root {
  --body-color: #ffffff;
  --main-color: #fe7e16;
  --paragraph: #484848;
  --paragraph-2: #adadad;
  --second-color: #4d68ff;
  --main-hover-color: #e7802c;
  --second-hover-color: #4d68ff;
}
body {
  display: flex;
  font-family: "Poppins", sans-serif;
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
}
body > * {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
::-moz-scrollbar {
  width: 6px;
  height: 8px;
}
::-moz-scrollbar-track {
  background: transparent;
}
::-moz-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
::-ms-scrollbar {
  width: 6px;
  height: 8px;
}
::-ms-scrollbar-track {
  background: transparent;
}
::-ms-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
svg,
a {
  margin: 0;
  padding: 0;
  color: #222222;
}
svg {
  transition: 0.3s;
  cursor: pointer;
}
p,
pre {
  color: var(--paragraph);
  white-space: pre-wrap;
  font-size: 15px;
  font-family: "Poppins";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
hr {
  height: 1px;
  background: #b3b3b3;
  margin: 13px 0;
  border: none;
  width: 100%;
}
input,
textarea {
  outline: none;
  border: none;
  border-radius: 6px;
  color: #222222;
  background: transparent;
  font-family: "Poppins";
}
input:-webkit-autofill {
  background-color: transparent !important;
  color: #222222 !important;
  font-weight: normal !important;
}
body.ar input {
  direction: rtl;
  font-size: 14px !important;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
.main-button {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  padding: 17px 26px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  height: 48px;
  border-radius: 50px !important;
}
.main-button:hover {
  background: var(--main-hover-color) !important;
}
.main-button.main-color {
  background: var(--main-color);
}
.main-button.second-color {
  background: var(--second-color);
}
.container {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1170px;
  }
}

/*!=============== HEADER =============== */

header {
  transition: 0.3s;
  padding: 18px 10px 0px 29px;
  position: relative;
  z-index: 1000;
}
body:has(.privacy) header,
body:has(.booking) header {
  padding: 12px 15px;
  background: #000000;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 1100px;
}
body:has(.privacy) header .container,
body:has(.booking) header .container {
  padding: 0;
}
.logo {
  position: relative !important;
  height: unset !important;
  transition: 0.3s;
  width: 145px !important;
}
header .hold {
  display: flex;
  align-items: center;
  gap: 35px;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
header nav ul li a {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  transition: 0.3s;
  color: #e2e2e2;
  letter-spacing: 0.3px;
}
header nav ul li a:hover {
  color: var(--main-color);
}
header .main-button {
  font-size: 14px;
  padding: 13px 27px;
}
header .bars {
  display: none;
}

/*!=============== LANDING =============== */

.landing {
  color: white;
  position: relative;
  height: 91vh;
  display: flex;
}
.landing > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
}
.landing .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-top: -30px;
}
.landing .left h2 {
  font-size: 90px;
  color: white;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}
.landing .left p {
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}
.landing:not(.about-us) .left p {
  margin: 17px 0 25px;
  color: var(--paragraph-2);
}
.landing .left .holder {
  display: flex;
  gap: 14px;
}
.landing .left .holder .button {
  padding: 17px 29px;
  border-radius: 11px;
  text-transform: capitalize;
  font-family: "Poppins";
  font-weight: 500;
}
.landing .left .holder a {
  display: flex;
  border: 2px solid #434343;
  border-radius: 11px;
  padding: 15px 24px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: 0.3s;
}
.landing .left .holder a:hover {
  background: var(--main-color) !important;
  border-color: transparent;
}
.landing .left .holder a.button {
  border: none;
}
.light-rays-container {
  width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}
.custom-rays {
  height: 100%;
  width: 100%;
  z-index: -1;
  background: black;
}

/*!=============== TOOLS =============== */

.back-layer {
  background-image: url(/back-layer.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 75px;
  padding: 69px 0 98px;
}
.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tools li {
  display: flex;
}
.tools li img {
  position: relative !important;
  width: unset !important;
  height: unset !important;
  transition: 0.3s;
}
.tools li img:hover {
  opacity: 0.6;
}

/*!=============== ABOUT US =============== */

.about-us {
  background: transparent;
  color: #222222;
  height: unset !important;
}
.about-us .container {
  gap: 25px;
  flex-direction: row;
}
.about-us .left {
  align-items: flex-start;
}
.about-us .left span {
  font-size: 24px;
  color: var(--main-color);
  font-weight: 500;
  text-align: left;
}
.about-us .left h2 {
  font-size: 54px;
  color: black;
  text-align: left;
}
.about-us .left p {
  margin: 8px 0;
  text-align: left;
  font-size: 19px;
}
.about-us .left hr {
  width: 60%;
}
.about-us .left p.last-p {
  margin-bottom: 30px;
}
.about-us img {
  position: relative !important;
  min-width: 49% !important;
  max-width: 49%;
  height: unset !important;
  transition: 0.3s;
  border-radius: 25px;
  height: 100% !important;
  object-fit: cover;
}

/*!=============== COUNTERS =============== */

.counters {
  color: white;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  width: 85%;
  padding: 90px 0;
  margin: 110px auto 40px;
}
.counters .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.counters .card {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
.counters .card .number {
  font-size: 65px;
  font-weight: 700;
  line-height: 1.5;
}
.counters .card h5 {
  color: var(--paragraph-2);
  font-size: 18px;
  font-weight: 400;
}
.squares-canvas {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: black;
}

/*!=============== RECORDS =============== */

.records h3 {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 15px;
}
.records .audio-waves {
  width: 100%;
}
.records .audio-waves .canvases {
  min-height: 120px !important;
}
.records button:has(svg) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.records .swiper {
  width: 100%;
  height: 100%;
}
.records .card {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  border: 2px dotted #696969;
  border-radius: 33px;
  padding: 35px 22px 16px;
  transition: 0.4s;
}
.records .card.active {
  padding: 35px 22px 16px;
}
.records .card h4 {
  color: var(--paragraph-2);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  transition: 0.3s;
  opacity: 1;
}
.records .card.active h4 {
  opacity: 0;
  z-index: -1;
}
.records .card h5 {
  color: var(--paragraph-2);
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  height: 0;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  min-height: 30px;
}
.records .card.active h5 {
  height: max-content;
  visibility: visible;
  margin-top: 4px;
  min-height: 26px;
}
.records .card h5.show {
  opacity: 1;
}
.records .play {
  width: 60px;
  height: 37px;
  border-radius: 10px;
  background: var(--main-color);
}
.records .play svg {
  color: white !important;
  font-size: 18px;
}
.records .custom-nav {
  margin: 29px 0 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.records .custom-pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.records svg {
  font-size: 24px;
  color: #ccc;
}
.records svg:hover {
  color: var(--main-color);
}
.records .dot {
  width: 26px;
  height: 5px;
  border-radius: 4px;
  background: #ccc;
  transition: 0.3s;
}
.records .dot.active {
  background: #fe7e16;
}

/*!=============== SERVICES =============== */

.service {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 55px 0;
}
.service .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.service .card {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service .card img {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  z-index: 0;
  filter: opacity(0.1) grayscale(0.5);
  transition: 0.3s;
}
.service .card:hover img {
  filter: opacity(1) grayscale(1);
}
.service .card span {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
  background: #edf0ff6b;
  backdrop-filter: blur(4px);
  transition: 0.3s;
}
.service .card:hover span {
  background: #f56d009e;
}
.service .card .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 2;
}
.service .card h4 {
  font-size: 25px;
  color: var(--main-color);
  font-weight: 500;
  transition: 0.5s;
  text-align: center;
}
.service .card:hover h4 {
  color: white;
}
.service .card p {
  font-size: 19px;
  transition: 0.5s;
  text-align: center;
}
.service .card:hover p {
  color: white;
}

/*!=============== WHY US =============== */

.why-us {
  margin: 55px 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.why-us .container {
  display: flex;
  gap: 35px;
  align-items: center;
}
.why-us img {
  width: 50% !important;
  position: relative !important;
  height: unset !important;
  border-radius: 20px;
}
.why-us .holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.why-us .holder .card {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  overflow: hidden;
}
.why-us .holder .card .top {
  width: 100%;
  padding: 16px;
  background: #fff;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: "Poppins";
}
.why-us .holder .card .top:hover,
.why-us .holder .card.active .top {
  background: var(--main-color);
}
.why-us .holder .card .top span {
  font-size: 15px;
  text-align: left;
  font-weight: 500;
  color: #323232;
  transition: 0.3s;
}
.why-us .holder .card .top svg {
  font-size: 16px;
}
.why-us .holder .card .top:hover svg,
.why-us .holder .card.active .top svg {
  font-size: 20px;
}
.why-us .holder .card .top:hover span,
.why-us .holder .card .top:hover svg,
.why-us .holder .card.active .top span,
.why-us .holder .card.active .top svg {
  color: white;
}
.why-us .holder .card .content {
  background: #fff;
  padding: 0 16px;
}
.why-us .holder .card .content p {
  margin: 12px 0;
  color: #444;
  line-height: 1.5;
}

/*!=============== NEXTEAME =============== */

.next-team {
  position: relative;
  color: white;
  border-radius: 35px;
  overflow: hidden;
  width: 85%;
  padding: 72px 0;
  margin: 55px auto;
}
.next-team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.next-team h3 {
  font-size: 54px;
  font-weight: 500;
  color: white;
  text-align: center;
}
.next-team h4 {
  font-size: 30px;
  color: var(--paragraph-2);
  font-weight: 400;
  text-align: center;
}
.next-team a {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 30px;
  background: white;
  color: black;
}
.next-team a:hover {
  color: white;
  background: var(--main-color) !important;
}

/*!=============== TESTIMONIALS =============== */

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 55px 0;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  gap: 18px;
  padding: 0;
}
.testimonials .card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  border-radius: 25px;
  overflow: hidden;
}
.testimonials .card video {
  width: 100%;
}
.testimonials .card .text {
  display: flex;
  flex-direction: column;
  padding: 13px;
  background: #f0f0f0;
  height: 100%;
  border: 1px solid;
  border-color: #e2e2e2;
  border-radius: 0 0 25px 25px;
}
.testimonials .card h4 {
  font-size: 18px;
}
.testimonials .card h5 {
  font-size: 16px;
  color: var(--paragraph);
  margin: 2px 0 7px;
}
.testimonials .card p {
  font-size: 14px;
  color: var(--paragraph);
}
.testimonials .video-holder {
  background: #f0f0f0;
  padding: 15px;
  border-radius: 35px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.testimonials .video-holder video {
  min-width: 100%;
  border-radius: 25px;
}
.selectextShadowHost {
  display: none !important;
}

/*!=============== CHAT =============== */

.chat {
  background: white;
  position: fixed;
  bottom: 24px;
  right: 19px;
  z-index: 1001;
  border-radius: 11px;
  overflow: hidden;
  box-shadow: rgba(2, 4, 5, 0.39) 0px 10px 26px;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: 0.3s;
}
.chat.active {
  transition: 0.5s;
  transform: scaleY(1);
}
.chat .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--main-color);
  color: white;
  padding: 14px 20px;
}
.chat .top img {
  position: relative !important;
  width: 48px !important;
  height: unset !important;
  object-fit: cover;
}
.chat .top span {
  font-size: 15px;
  font-weight: 500;
}
.chat svg {
  color: white;
  font-size: 19px;
  transform: translateY(-1px);
}
.chat .holder {
  padding: 15px;
}
.chat .holder p {
  margin-bottom: 6px;
  font-size: 14px;
  text-align: center;
}
.chat .inputHolder {
  gap: 2px;
}
.chat .main-button {
  width: 100%;
  background: var(--main-color);
  padding: 13px 26px;
  margin-top: 5px;
}

/*!=============== CONTACT =============== */

.contact {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 55px 0;
}
.contact .container {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  width: 50%;
  align-items: center;
}
.contact img {
  position: relative !important;
  width: 39% !important;
  border-radius: 20px !important;
  height: 49vh !important;
  object-fit: cover;
}
.contact .container div:has(form) {
  width: 100%;
}
.contact h4 {
  font-size: 17px;
  color: var(--paragraph);
  text-align: center;
  font-weight: 700;
  margin-top: -35px;
  text-transform: capitalize;
}
.contact form {
  gap: 10px !important;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 12px;
}
.contact .main-button {
  width: 100%;
  background: var(--main-color);
  color: white;
  border-radius: 10px !important;
  height: 48px;
  font-size: 17px;
  font-weight: 600;
  font-family: "Poppins";
}
.contact .main-button svg {
  display: none;
}
.contact input,
.contact textarea {
  border-radius: 10px !important;
  background: white;
}

/*!=============== FORM =============== */

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.inputHolder {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 3px;
}
.inputHolder label {
  font-size: 14px;
  color: var(--paragraph);
  font-weight: 500;
  margin-left: 5px;
}
.inputHolder input,
textarea {
  padding: 12px;
  width: 100%;
  height: 100%;
  resize: none;
  border: 1px solid #dedede;
  border-radius: 4px;
}
span.error {
  color: #e70000;
  font-size: 13px;
  margin-left: 5px;
}
.success {
  color: green;
  margin: 4px 0;
  text-align: center;
  font-weight: bold;
}
.main-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*!=============== ACTIONS BTNS =============== */

.btns-holder {
  position: fixed;
  bottom: 25px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 1000;
  overflow: unset;
  align-items: end;
}
.btns-holder svg {
  background: var(--main-color);
  color: white;
  border-radius: 8px;
  padding: 8px;
  width: 43px;
  height: 43px;
  font-size: 25px;
}
.scroll-top {
  cursor: pointer;
  opacity: 0;
  transform: translateX(20px);
  transition: 0.5s;
}
.scroll-top.active {
  opacity: 1;
  transform: translateX(0);
}
.chat-holder {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  background: var(--main-color);
  display: flex;
  align-items: center;
  padding-left: 0;
  transition: 0.3s;
}
.chat-holder:hover {
  padding-left: 12px;
}
.chat-icon {
  color: var(--main-color);
  z-index: 2;
  background: var(--main-color);
  min-width: 43px;
}
.chat-label {
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  height: 20px;
  opacity: 0;
  width: 0;
  transition: 0.3s;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chat-holder:hover .chat-label {
  opacity: 1;
  width: 100px;
}

/*!=============== FOOTER =============== */

footer {
  background: black;
  color: white;
  padding: 72px 0 50px;
  margin-top: 55px;
  overflow: hidden;
}
footer .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .top {
  display: flex;
  justify-content: space-between;
}
footer .top a {
  align-self: center;
}
footer .top .logo {
  width: 175px !important;
}
footer h4 {
  direction: ltr !important;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}
footer .top a {
  align-self: center;
  font-size: 15px;
  font-weight: 300;
  text-transform: capitalize;
  color: var(--paragraph-2);
}
footer .top .holder {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .top .holder a {
  font-size: 14px;
}
footer .top .newsletter p {
  max-width: 250px;
  font-size: 14px;
  margin-top: 4px;
  color: var(--paragraph-2);
}
footer .social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  margin-top: 15px;
}
footer .social svg {
  font-size: 22px;
  color: #d5d5d5;
  border: 1px solid #d5d5d5;
  border-radius: 50%;
  padding: 7px;
  width: 35px;
  height: 35px;
}
footer .bottom .copyright {
  text-align: center;
  font-size: 14px;
  color: var(--paragraph-2);
}
footer .bottom .copyright a {
  font-weight: 500;
  color: white;
}
footer .bottom .copyright a:hover {
  text-decoration: underline;
}

/*!=============== BOOKING =============== */

.booking {
  margin: 55px auto;
  padding: 35px 0 0;
  line-height: 1.6;
  color: #333;
}
.booking h3 {
  text-align: center;
}

/*!=============== PRIVACY =============== */

.privacy.container {
  margin: 0 auto;
  padding: 40px 15px 0;
  line-height: 1.6;
  color: #333;
}
.privacy h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #111;
  text-align: left;
}
.privacy .updated {
  color: #777;
  margin-bottom: 20px;
}
.privacy h2 {
  font-size: 1.4rem;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #222;
}
.privacy p {
  margin-bottom: 15px;
}
.privacy ul {
  margin: 10px 0 20px 20px;
}
.privacy li {
  margin-bottom: 10px;
  list-style: inside;
}
.privacy address {
  font-style: normal;
  margin-top: 20px;
  line-height: 1.6;
}

/*!=============== MEDIA QUERY =============== */

@media (max-width: 1500px) {
  .next-team h3 {
    font-size: 48px;
  }
  .next-team h4 {
    font-size: 27px;
  }
  .next-team button {
    padding: 15px;
    margin-top: 17px;
  }
  .testimonials .container {
    gap: 13px;
  }
}
@media (max-width: 1400px) {
  .counters,
  .next-team {
    width: 90%;
  }
  .testimonials {
    margin: 0;
  }
  .contact .container {
    width: 65%;
  }
}
@media (max-width: 1300px) {
  header .logo {
    width: 125px !important;
  }
  .counters,
  .next-team {
    width: 95%;
  }
  .why-us img {
    min-width: 40% !important;
  }
}
@media (max-width: 1200px) {
  header .container {
    width: unset;
  }
  .landing > .container {
    width: 90%;
  }
  .landing .left h2 {
    font-size: 76px;
  }
  .landing .left p {
    font-size: 18px;
  }
  .about-us .left h2 {
    font-size: 50px !important;
  }
  .about-us img {
    width: 46% !important;
  }
  .service .container,
  .why-us .container {
    width: 95%;
  }
  .testimonials .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .testimonials .card {
    width: 32%;
  }
}
@media (min-width: 1000px) {
  .chat-holder.active {
    padding-left: 12px;
  }
  .chat-holder.active .chat-label {
    opacity: 1;
    width: 100px;
  }
}
@media (max-width: 1100px) {
  .landing .left h2 {
    font-size: 70px;
  }
  .about-us .left h2 {
    font-size: 45px !important;
  }
  .next-team h3 {
    font-size: 40px;
  }
  .counters .container {
    gap: 20px;
  }
  .counters .card .number {
    font-size: 47px;
  }
  .service .card .text {
    gap: 3px;
  }
  .service .card h4 {
    font-size: 23px;
  }
  .counters .card h5 {
    text-align: center;
    font-size: 17px;
  }
  .service .card p {
    font-size: 16px;
  }
  .why-us .container {
    gap: 25px;
  }
  .contact .container {
    width: 85%;
  }
}
@media (max-width: 992px) {
  header .logo {
    width: 135px !important;
  }
  .landing {
    height: 64vh;
  }
  .landing .left {
    width: 90%;
  }
  .back-layer {
    padding: 69px 0 35px;
  }
  .records,
  .records .container {
    width: 100%;
    padding: 0;
  }
  .tools {
    width: 92%;
  }
  .tools li img {
    width: 135px !important;
  }
  .about-us .left {
    align-items: center;
    gap: 10px;
  }
  .about-us .left h2,
  .landing .left p {
    text-align: center;
  }
  .about-us .left hr {
    margin: 0;
  }
  .counters {
    padding: 55px 0;
    margin: 35px auto 40px;
  }
  .counters .container {
    gap: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .next-team,
  .counters {
    width: 100% !important;
    border-radius: 0;
  }
  .testimonials .card {
    width: 48%;
  }
  .contact .container {
    width: 90%;
  }
}
@media (max-width: 900px) {
  header .hold {
    position: absolute;
    right: 0;
    flex-direction: column;
    background: #000000bf;
    backdrop-filter: blur(7px);
    border-radius: 16px;
    padding: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    border: 2px dotted #696969;
    gap: 16px;
    top: 140px;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
  }
  header .hold.active {
    top: 100px;
    visibility: visible;
    opacity: 1;
    z-index: 10;
  }
  header .main-button {
    width: 100%;
    height: 45px;
    font-size: 15px;
  }
  header .bars {
    display: flex;
    color: white;
    font-size: 35px;
    transform: scaleX(1.3) translateX(-13px);
  }
  .landing > .container {
    width: 95%;
  }
  .back-layer {
    gap: 85px;
  }
  .tools li img {
    width: 112px !important;
  }
  .service .card h4 {
    font-size: 20px;
  }
  .service .card p {
    font-size: 15px;
  }
  .next-team {
    padding: 48px 0;
  }
  .next-team h3 {
    font-size: 32px;
  }
  .next-team h4 {
    font-size: 23px;
  }
  .next-team button {
    font-size: 14px;
    height: 45px;
  }
  footer .container {
    width: 95%;
  }
}
@media (max-width: 786px) {
  .landing .left h2 {
    font-size: 63px;
  }
  .records .card h5 {
    font-size: 15px;
  }
  .service .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .next-team h3 {
    font-size: 29px;
  }
  .next-team h4 {
    font-size: 21px;
  }
  footer .top .logo {
    width: 130px !important;
  }
  .privacy h1 {
    text-align: center;
    line-height: 1.2;
  }
}
@media (max-width: 700px) {
  .landing .left {
    width: 100%;
  }
  .landing .left h2 {
    font-size: 58px;
  }
  .tools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .tools li {
    align-items: center;
    justify-content: center;
  }
  .counters .container {
    gap: 0;
  }
  .next-team h3 {
    font-size: 25px;
  }
  .next-team h4 {
    font-size: 18px;
  }
  .next-team button {
    font-size: 13px;
    height: 40px;
  }
  .testimonials {
    gap: 25px;
  }
  .testimonials .container {
    gap: 20px;
  }
  .testimonials .card {
    width: 95%;
  }
  footer .top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  footer .top a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .top .logo {
    width: 180px !important;
  }
  footer h4 {
    text-align: center;
  }
  footer .social {
    justify-content: center;
  }
  footer .newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .landing .left h2 {
    font-size: 43px;
  }
  .landing .left p {
    font-size: 17px;
  }
  .landing > .container {
    gap: 50px;
  }
  .counters {
    padding: 40px 0;
  }
  .counters .container {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .counters .card .number {
    font-size: 38px;
  }
  .testimonials .video-holder {
    padding: 0;
  }
  .contact form {
    padding: 15px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 38px;
  }
  header .bars {
    width: 30px;
  }
  header .hold {
    padding: 15px;
  }
  header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  header nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .main-button {
    height: 43px;
  }
  .landing > .container {
    gap: 35px;
  }
  .landing .left h2 {
    font-size: 40px;
  }
  .landing .left p {
    font-size: 15px;
  }
  .records .card {
    padding: 19px 22px;
    border-radius: 18px;
  }
  .records .card.active {
    padding: 20px 22px 18px;
  }
  .records .card.active h5 {
    margin-top: 5px;
  }
  .tools {
    grid-template-columns: repeat(2, 1fr);
  }
  .tools li img {
    width: 140px !important;
  }
  .about-us .left h2 {
    font-size: 40px !important;
  }
  .next-team {
    padding: 48px 20px;
  }
  .next-team h3 {
    font-size: 23px;
  }
  .next-team h4 {
    font-size: 16px;
  }
  .why-us .holder .card .top {
    gap: 16px;
  }
  .why-us .holder .card .top svg {
    min-width: 18px;
    min-height: 18px;
  }
  .testimonials .video-holder video {
    border-radius: 18px;
  }
  .contact .container {
    width: 95%;
    margin: 0 auto;
  }
  .contact h4 {
    max-width: 95%;
    text-align: center;
    margin: -35px auto -5px;
  }
  footer {
    padding: 50px 0;
  }
  footer .top {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  footer .bottom .copyright {
    max-width: 90%;
  }
  .chat {
    width: 95%;
    right: unset;
    transform: translateX(-50%) scaleY(0);
    left: 50%;
  }
  .chat.active {
    transform: translateX(-50%) scaleY(1);
  }
}
@media (max-width: 415px) {
  .logo {
    width: 115px !important;
  }
  header .bars {
    width: 25px;
  }
  .landing {
    height: 75vh;
  }
  .landing .left h2 {
    font-size: 36px;
  }
  .landing .left p {
    font-size: 14px;
    max-width: 93%;
  }
  .about-us .left h2 {
    font-size: 35px !important;
  }
  .about-us .main-button {
    height: 44px;
    font-size: 13px;
  }
  .about-us .left p.last-p {
    margin-bottom: 13px;
  }
  .records .card,
  .records .card.active {
    padding: 15px;
  }
  .records .card h5 {
    font-size: 13px;
    font-weight: 300;
  }
  .why-us .holder .card .top span {
    font-size: 14px;
  }
  .why-us .holder .card .content p {
    font-size: 13px;
  }
  .contact h4 {
    max-width: 90%;
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .landing {
    height: 88vh;
  }
  .landing .left .holder button {
    font-size: 14px;
    height: 44px;
  }
  .records .play {
    width: 53px;
    height: 32px;
  }
  .back-layer {
    gap: 90px;
  }
}
